<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Body switch</title>
</head>
<body>
<div class="container">
  <nav th:fragment="body-switch" id="body-switch-sidebar">
    <h2 th:text="#{yourBodies}">Your bodies</h2>
    <ul>
      <li th:each="info : ${ctx.bodies}" th:with="c=${info.coordinates}">
        <form method="get">
          <input name="body" type="hidden" th:value="${info.id}">
          <input th:each="entry : ${param}" th:unless="${entry.key == 'body'}"
                 th:name="${entry.key}" type="hidden" th:value="${entry.value[0]}">
          <button class="body-switch-item" th:classappend="${info.id == bodyId ? ' current' : ''}"
                  th:text="|${info.name} [${c}]|">Body [1:1:1]</button>
        </form>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>
