<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Trader</title>
</head>
<body>
<div layout:fragment="content">
  <table th:if="${error}">
    <tr>
      <th>Error</th>
    </tr>
    <tr>
      <td class="error" th:text="${error}"></td>
    </tr>
  </table>
  <p th:if="${tradedResource != null}" th:text="${'Today, the trader wants to buy ' + tradedResource}"></p>
  <form id="trader-form" th:if="${tradedResource != null}" th:action="@{/trader/trade}" th:object="${form}" method="post">
    <input type="hidden" th:field="*{body}">
    <input type="hidden" th:field="*{tradedResourceKey}">
    <input id="expected-received-amount" type="hidden" th:field="*{expectedReceivedAmount}">
    <input id="metal-amount" type="hidden" th:field="*{metalAmount}">
    <input id="crystal-amount" type="hidden" th:field="*{crystalAmount}">
    <input id="deuterium-amount" type="hidden" th:field="*{deuteriumAmount}">
    <table id="trader-table" th:data-traded-resource="${tradedResourceKey}"
           th:data-traded-resource-name="${tradedResource}" th:data-rate-metal="${metalRate}"
           th:data-rate-crystal="${crystalRate}" th:data-rate-deuterium="${deuteriumRate}">
      <tr>
        <th colspan="3">Trader</th>
      </tr>
      <tr>
        <th>Resource</th>
        <th>Exchange Rate</th>
        <th>Trade</th>
      </tr>
      <tr>
        <td>Metal</td>
        <td th:text="${#numbers.formatDecimal(metalRate, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td>
          <th:block th:if="${tradedResource == 'Metal'}">
            <span id="trade-total">0.00</span>
          </th:block>
          <th:block th:if="${tradedResource != 'Metal'}">
            <input id="trade-metal" class="trader-input" type="number" min="0" step="1" name="metalTradeAmount">
          </th:block>
        </td>
      </tr>
      <tr>
        <td>Crystal</td>
        <td th:text="${#numbers.formatDecimal(crystalRate, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td>
          <th:block th:if="${tradedResource == 'Crystal'}">
            <span id="trade-total">0.00</span>
          </th:block>
          <th:block th:if="${tradedResource != 'Crystal'}">
            <input id="trade-crystal" class="trader-input" type="number" min="0" step="1" name="crystalTradeAmount">
          </th:block>
        </td>
      </tr>
      <tr>
        <td>Deuterium</td>
        <td th:text="${#numbers.formatDecimal(deuteriumRate, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td>
          <th:block th:if="${tradedResource == 'Deuterium'}">
            <span id="trade-total">0.00</span>
          </th:block>
          <th:block th:if="${tradedResource != 'Deuterium'}">
            <input id="trade-deuterium" class="trader-input" type="number" min="0" step="1" name="deuteriumTradeAmount">
          </th:block>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button id="trade" type="submit">Trade</button>
        </td>
      </tr>
    </table>
  </form>
  <script th:src="@{/static/js/trader.js?{v}(v=${version})}"></script>
</div>
</body>
</html>
